body {
    background: linear-gradient(90deg, #00f7ff, #0099ff, #0000ff);
}

h3 {
    color: rgb(0, 0, 0);
    background: linear-gradient(90deg, #00f7ff, #0099ff, #0000ff);
}

h1 {
    color: rgb(0, 0, 255);
    background: linear-gradient(90deg, #00f7ff, #0099ff, #0000ff);
    text-align: center;
}

h6 {
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, #00f7ff, #0099ff, #0000ff);
    text-align: center;
}

b {
    width: 100%;
}